*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content:center;
    align-items: center;
}
.parent{
    display: flex;
    justify-content:center;
    align-items: center;
    display: inline-block;
}
.box{
    display: flex;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}
#one{
   background-color: red; 
   border-color: rgb(195, 1, 1);
   width: 200px;
   min-height: 50px;
   align-self: center;
}
#two{
    background-color: rgb(201, 194, 194);
    border-color: grey;
    width: 400px;
    min-height: 300px;
}